body {
    background-color: darkgray;
}

nav li a,
.sidenav li a {
    color: #2e7d32;
}

.pad {
    margin-bottom: 0px;
}

.num-pad-btn {
    padding: 40px 30px;
    margin: 1px;
    vertical-align: middle;
}

