{% extends "base.html" %}
{% block content %}

<div class="row">
    <h2 class="col s12 center-align">Choose your game</h2>
    <div class="row">
        <a
            class="col s12 hover waves-effect waves-light btn-large text-shadow grey darken-4 red-text text-darken-3 hoverable"><i
                class="fa-solid fa-bullseye"></i> Practice Match</a>
    </div>
    <div class="row">
        <a
            class="col s12 waves-effect waves-light btn-large text-shadow grey darken-4 green-text text-darken-3 hoverable"><i
                class="fa-solid fa-bullseye"></i> Singles Training</a>
    </div>
</div>
{% endblock %}